<div class="nav">
	<div class="navigation">
		<%= link_to "Home", root_url %>
		<%= link_to "Blog", posts_url %>
	</div>

	<div class="contact">
		<%= link_to "Github", "https://github.com/kaelaclement", target: "blank" %>
		<%= link_to "LinkedIn", "https://www.linkedin.com/in/kaela-clement/", target: "blank" %>
		<%= link_to "Email", "mailto:kaela.s.clement@gmail.com" %>
	</div>
</div>